



/***************************************************************************************/

/*   01 - General & Basic Styles   */

* {
    padding: 0;
    margin: 0
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DinNextRegular';
    font-size: 14px;
    background: #F4F7F6;
    color: #202121;
    overflow-x: hidden;
    direction: rtl;
    text-align: right;
    background: url(../images/bgpateern.png) center center scroll
}

a {
    font-weight: 400;
    text-decoration: none;
    color: inherit
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'DinNextLight';
    src: url('../fonts/din-next/light/DinNextLight.eot');
    src: url('../fonts/din-next/light/DinNextLight.eot') format('embedded-opentype'), url('fonts/din-next/light/DinNextLight.woff2') format('woff2'), url('fonts/din-next/light/DinNextLight.woff') format('woff'), url('fonts/din-next/light/DinNextLight.ttf') format('truetype'), url('fonts/din-next/light/DinNextLight.svg#DinNextLight') format('svg');
}

@font-face {
    font-family: 'DinNextRegular';
    src: url('../fonts/din-next/regular/DinNextRegular.eot');
    src: url('../fonts/din-next/regular/DinNextRegular.eot') format('embedded-opentype'), url('fonts/din-next/regular/DinNextRegular.woff2') format('woff2'), url('fonts/din-next/regular/DinNextRegular.woff') format('woff'), url('fonts/din-next/regular/DinNextRegular.ttf') format('truetype'), url('fonts/din-next/regular/DinNextRegular.svg#DinNextRegular') format('svg');
}

@font-face {
    font-family: 'DinNextMedium';
    src: url('../fonts/din-next/medium/DinNextMedium.eot');
    src: url('../fonts/din-next/medium/DinNextMedium.eot') format('embedded-opentype'), url('fonts/din-next/medium/DinNextMedium.woff2') format('woff2'), url('fonts/din-next/medium/DinNextMedium.woff') format('woff'), url('fonts/din-next/medium/DinNextMedium.ttf') format('truetype'), url('fonts/din-next/medium/DinNextMedium.svg#DinNextMedium') format('svg');
}

@font-face {
    font-family: 'DinNextBold';
    src: url('../fonts/din-next/bold/DinNextBold.eot');
    src: url('../fonts/din-next/bold/DinNextBold.eot') format('embedded-opentype'), url('fonts/din-next/bold/DinNextBold.woff2') format('woff2'), url('fonts/din-next/bold/DinNextBold.woff') format('woff'), url('fonts/din-next/bold/DinNextBold.ttf') format('truetype'), url('fonts/din-next/bold/DinNextBold.svg#DinNextBold') format('svg');
}

#wrapper {
    width: 100%;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.overlay-page {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


/* display .overlay when it has the .toggled class */

.overlay-page.toggled {
    display: block;
    opacity: 1;
}


/* =========================================================*/


/* 02 - sideBar-wraper Styles */

#sideBar-wraper {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 99999;
    background: #F4F7F6;
    transition: all 0.5 ease-in-out;
    -webkit-transition: all 0.5 ease-in-out;
    -moz-transition: all 0.5 ease-in-out;
    -ms-transition: all 0.5 ease-in-out;
    -o-transition: all 0.5 ease-in-out;
}

.topHead {
    padding: 0 30px;
    line-height: 70px;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 1px solid #E6EAEA;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.langu {
    border-bottom: 2px solid #20212180;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.topHead .close {
    float: none;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
    cursor: pointer;
}

.topHead .closse {
    cursor: pointer;
}

.list-menu .nav-item {
    clear: both;
}

.list-menu .nav-link {
    border-bottom: 1px solid #E6EAEA;
    display: block;
    padding: 1rem 1.2rem;
    width: 100%;
    line-height: 1.75;
    font-size: 17px;
    font-weight: bold;
    color: #202121;
    text-align: right;
    -webkit-transition: background 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.list-menu .nav-link:hover {
    background-color: #FCFCFC;
}

.list-menu>.nav-item :last-child .nav-link {
    border-bottom: none;
}


/*=========================================================*/


/* mainContent-wraper */

#mainContent-wraper {
    position: absolute;
    width: 100%;
/*    background: #F4F7F6;*/
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}


/* Change width of side bar to display it*/

#wrapper.toggled #sideBar-wraper {
    width: 320px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#wrapper.toggled #mainContent-wraper {
    padding-right: 320px;
    position: fixed;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#mainContent-wraper .header-main {
    border-bottom: 1px solid #E6EAEA;
    background: #F4F7F6;
}

.header-main .menu {
    cursor: pointer;
    font-size: 17px;
    border-left: 1px solid #E6EAEA;
    overflow: hidden;
}

.header-main .submitt {
    background-color: #072b4e;
    padding: 20px 30px;
    line-height: 35px;
    color: #FFF;
    /* border-radius: 20%; */
}

.header-main .submitt:hover {
    background-color: #ccc;
    text-decoration: none;
    color: #FFF;
}

.header-main .log span {
    font-weight: 600;
    font-size: 16px
}


/*    - Scroll Top      */

#scroll-top {
    width: 35px;
    height: 35px;
    line-height: 32px;
    color: #FFF;
    background-color: #000;
    text-align: center;
    right: 5px;
    bottom: 5px;
    position: fixed;
    z-index: 9999;
    display: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}



/****************************************************************************************/

#nominees-nav {
    background-color: #f4f7f6!important;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 0;
/*
    position: fixed;
    top: 69px;
    z-index: 999999999999999
*/
}

#nominees-nav ul {
    padding: 0;
}

#nominees-nav ul li {
    border-left: 1px solid #e5e5e5;
    padding: 10px;
}

#nominees-nav ul .hov:hover {
    background-color: #fff;
}

#nominees-nav ul .hov a {
    color: #555;
}

#nominees-nav ul .hov:hover a {
    font-weight: 100;
    color: #999;
}

#nominees-nav ul .not-active a,
#nominees-nav ul .not-active:hover a {
    cursor: default;
    color: #555;
}

#nominees-nav ul .reload-hov a {
    color: #111;
}

#nominees-nav ul .reload-hov i {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

#nominees-nav ul .reload-hov:hover i {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
}

#nominees-nav ul .reload-hov:hover a {
    color: #999;
}

#nominees .layer {
    position: relative;
    overflow: hidden;
}


/*----------------------------------------- winners---------------------------------------------------------------------------------------------------------------------------------------*/
#winner {
    margin-top: 150px;
}

.winners{
    margin-bottom: 30px;
}
.winner-info{
    position: relative;
    overflow: hidden;
    
}
.winner-img{
/*    height: 350px;*/
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
   
}
.winner-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0,0,0,0.4);
    display: none;
    
}
.winner-info:hover .winner-img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    

}
.winner-info:hover .winner-overlay{
    display: block;
}

.collect-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    display: none;
    cursor: default;
    overflow-y: auto;
    z-index: 99999;
}
 .close{
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}
.collect-modal .card{
    position: absolute;
    width: 80%;
/*    height: 400px;*/
    right: 10%;
    left: 10%;
    top: 20%;
    bottom: 20%;
    border: none;
    font-size: 20px
}
.collect-modal .card-img{
    background-color: #707070;
    padding: 60px;
    
}
.collect-modal .card-body{
    background-color: #f4f7f6;
    padding: 20px;
    height: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #202121;
}

.create-collection{
    position: absolute;
    bottom:  0;
    left: 0;
    width: 100%;
    padding: 20px;
    line-height: 98px;
    font-weight: bold;
    text-align: center;
    background-color: #DBE0DF;
    cursor: pointer;
    font-size: 20px;
}


.overlay-top {
    position: absolute;
    top: 20px;
    right: 20px;
}

.overlay-top  .collect{    
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-left: 10px;
    height: 34px;
    padding: 0 23px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 20px;
}
.overlay-top  .likes{
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s
}
/*
.overlay-top  .likes:hover{
    opacity: 0.6
}
*/
.overlay-bottom {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
}
.winner-caption{
    background: #fff;
}
.web-name a{
    text-decoration: none;
    color: #202121;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
a:hover {
    color: #64686A;
}
.desiner img{
    width: 27px;
    height: 27px;
    border-radius: 50%;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}
.bottons li{
    display: inline-block;
    margin-left: 5px;
}
.sofd{
    background-color: #FF4E4E;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 15px;
    padding: 1px 5px 0 5px;
    line-height: normal;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
        border-radius: 36px;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.hm{
    background-color: #9FD2D6;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 15px;
    padding: 1px 5px 0 5px;
    line-height: normal;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}























































































































/*----------------------------------------- vote---------------------------------------------------------------------------------------------------------------------------------------*/









.left-title{
    cursor: pointer;
}

.left-title .img-designer{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;
}

.left-title  .collect{
    border: 1px solid #202121;
    border-radius: 50px;
    margin-left: 10px;
    height: 34px;
    padding: 0 23px;
    font-size: 20px;
    color: #202121;
    font-weight: 500;
    text-align: center;
    line-height: 20px;
    
}
.left-title  .collect:hover{
    color: #49c5b6;
    border-color: #49c5b6;
}
.left-title  .likes{
    border: 1px solid #202121;
    border-radius: 50px;
    height: 34px;
    padding: 0 23px;
    font-size: 15px;
    color: #202121;
    text-align: center;
    line-height: 34px;
    
}
.left-title  .likes i{
    margin-top: 10px;
}
.left-title  .likes:hover{
    
    color: #49c5b6;
    border-color: #49c5b6;
}

.vote{
    position: relative;
    height: auto;
    overflow: hidden;
    
}

.vote-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 32;
}
.vote:hover .vote-overlay{
    display: block;
}
.result {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 150px;
    text-align: center;
    display: none;
}
.edit-vote{
    height: 40px;
    width: 150px;
    line-height: 40px;
    font-weight: 500;
    border: 2px solid #49c5b6;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}
.edit-vote i{
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s
}
.edit-vote:hover i{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
}
.vote-now{
  
    background-color: #49c5b6;
    color: #fff;
    display: block;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    z-index: 4444
}
.vote-now:hover{
    background-color: #42AB9E;
}
.slide{
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: #202121;
    background-color: #fcfcfc;
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    z-index: 55;
    display: none;
}


.degree{
    position: relative;
    width: 100%;
    background-color: #fcfcfc;
    overflow: hidden;
    margin: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.degree li{
    position: relative;
    float: left;
    width: 10%;
    height: 80px;
    line-height: 80px;
    background-color: #fcfcfc;
    color: #202121;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    float: right;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.design .degree li:hover{
    background-color: rgba(223,108,79,0.5);
}
.step{
    height: 80px;
    padding: 0 30px;
    line-height: 80px;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    overflow: hidden;
}

.design .step{
    background-color: #df6c4f;
}


.usability .degree li:hover{
    background-color: rgba(236,208,111,0.5);
}

.usability .step{
    background-color: #ecd06f;
}

.creativity  .degree li:hover{
    background-color: rgba(60,148,139,0.5);
}

.creativity  .step{
    background-color: #3c948b;
}

.content .degree li:hover{
    background-color: rgba(26,153,170,0.5);
}

.content .step{
    background-color:#1a99aa; 
}

.confirm-vote{
    
    background-color: #49c5b6;
    color: #fff;
    display: none;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    z-index: 5555;
    
}


.average {
    font-size: 90px;
    font-weight: 800;
    color: #fcfcfc;
}

.edit-vote{
    color: #49c5b6;
}



/**************************************************************************************/




/* footer */


.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}


@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* ! footer */




/* media query ***/

@media only screen and(min-width:475px) and(max-width:768px)
{   #winner .col-lg-4{
         width:50%;
    }
    
}