*,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.clr {
    clear: both;
}

.container {
    width: 85%;
    margin: auto;
}

.three-lines {
    padding-bottom: 5%;
}

.two-lines {
    content: "";
    width: 90px;
    height: 12px;
    margin: auto;
    border-bottom: 1px solid #ff305b;
    border-top: 1px solid #ff305b;
    position: relative;
}

.line {
    content: "";
    width: 180px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: -45px;
    border-top: 1px solid #ff305b;
}

p {
    color: #555;
}

.services h2,
.portfolio h2,
.testimonial h2,
.blog h2,
.contact-us h2 {
    padding: 10px 0px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.home {
    background-image: url(../images/slider/slider-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 100%;
}

.home-transparent {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.nav ul {
    overflow: auto;
    list-style: none;
}

.nav li {
    float: right;
    padding: 20px 10px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.nav a:hover {
    color: #ff305b;
    font-weight: 50;
}

.nav .small-logo {
    float: left;
}

.nav .small-logo a {
    font-size: 24px;
    font-weight: 800;
}

.nav .small-logo a,
.nav .home-btn a {
    color: #ff305b;
}

.nav .home-btn a {
    font-weight: 50;
}

.head {
    padding: 15% 0px;
}

.head h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.head h2 {
    color: #ff305b;
    font-size: 70px;
    font-weight: 700;
}

.head h3 {
    color: #fff;
    font-size: 24px;
    font-weight: lighter;
}

.head h3:after {
    content: "";
    -webkit-animation: typewriter 3s infinite;
    animation: typewriter 3s infinite;
}

@-webkit-keyframes typewriter {
    0% {
        content: "Designer  |";
    }
    5% {
        content: "Designer|";
    }
    10% {
        content: "Design|";
    }
    15% {
        content: "Desi|";
    }
    20% {
        content: "De|";
    }
    25% {
        content: "|";
    }
    30% {
        content: "De|";
    }
    35% {
        content: "Deve|";
    }
    40% {
        content: "Develo|";
    }
    45% {
        content: "Develope|";
    }
    50% {
        content: "Developer|";
    }
    55% {
        content: "Developer|";
    }
    60% {
        content: "Develop|";
    }
    65% {
        content: "Devel|";
    }
    70% {
        content: "Dev|";
    }
    75% {
        content: "D|";
    }
    80% {
        content: "Des|";
    }
    85% {
        content: "Desig|";
    }
    90% {
        content: "Designe|";
    }
    95% {
        content: "Designer|";
    }
    100% {
        content: "Designer |";
    }
}

@keyframes typewriter {
    0% {
        content: "Designer  |";
    }
    5% {
        content: "Designer|";
    }
    10% {
        content: "Design|";
    }
    15% {
        content: "Desi|";
    }
    20% {
        content: "De|";
    }
    25% {
        content: "|";
    }
    30% {
        content: "De|";
    }
    35% {
        content: "Deve|";
    }
    40% {
        content: "Develo|";
    }
    45% {
        content: "Develope|";
    }
    50% {
        content: "Developer|";
    }
    55% {
        content: "Developer|";
    }
    60% {
        content: "Develop|";
    }
    65% {
        content: "Devel|";
    }
    70% {
        content: "Dev|";
    }
    75% {
        content: "D|";
    }
    80% {
        content: "Des|";
    }
    85% {
        content: "Desig|";
    }
    90% {
        content: "Designe|";
    }
    95% {
        content: "Designer|";
    }
    100% {
        content: "Designer |";
    }
}

.testimonial .container {
    padding: 7% 0px;
}

.testimonial .feedback {
    width: 70%;
    margin: auto;
    padding: 3%;
    background-color: #f1f1f1;
    position: relative;
    border-radius: 10px;
    overflow: auto;
}

.testimonial .feedback::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 100px;
    border-color: #ff305b transparent transparent #ff305b;
    border-top-left-radius: 10px;
    z-index: 0;
}

.testimonial .feedback-writer {
    width: 20%;
    padding: 1% 3%;
    position: relative;
}

.testimonial .feedback>img {
    position: absolute;
    top: 15%;
    left: 2%;
    z-index: 200;
    border-radius: 50%;
}

.testimonial .feedback-desc {
    width: 80%;
    float: right;
    font-size: 18px;
    padding-right: 20px;
    font-style: italic;
}

.testimonial .feedback-desc h3 {
    font-size: 24px;
    color: #333;
    padding: 10px 0px;
}

.testimonial .feedback-desc a {
    text-decoration: none;
    color: #555;
    font-size: 16px;
}

.testimonial .feedback-desc a img {
    width: 3%;
}

.testimonial .feedback-desc p {
    padding: 10px 0px;
}

.blog {
    background-color: #f1f1f1;
    padding: 7% 0px;
}

.blog .container {
    overflow: auto;
}

.blog .item {
    width: 33.33%;
    float: left;
    padding: 0px 15px;
}

.blog .item-img,
.blog iframe {
    width: 100%;
    height: 200px;
}

.blog .item-desc {
    padding: 0px 20px;
    background-color: #fff;
    padding-bottom: 20px;
}

.blog a {
    text-decoration: none;
    color: #222;
    font-size: 26px;
    font-weight: bold;
}

.blog a:hover {
    color: #ff305b;
}

.blog .read-more {
    color: #444;
}

.blog p {
    font-size: 18px;
    padding: 3% 0px;
}

.blog .next-icon {
    width: 5%;
}

@media screen and (max-width:900px) {
    body .rating .rate,
    .portfolio .item {
        width: 50%;
        padding: 5px;
    }
    body .services .service,
    body .about-desc,
    body .about-img,
    body .blog .item {
        width: 100%;
        margin-bottom: 10px;
    }
    body .home .container {
        width: 100%;
    }
    body .nav li {
        padding: 5px;
        float: left;
    }
    body .nav .small-logo {
        float: none;
    }
    body .head h2 {
        font-size: 50px;
    }
    body .about-desc li {
        width: 100%;
    }
    body .about-desc .download-btn {
        margin-right: 10px;
        padding: 10px 20px;
    }
    body .about-img {
        padding-top: 10px;
    }
    body .portfolio a {
        padding: 5px 10px;
        font-size: 16px;
    }
    body .rating .rate img {
        width: 30%;
    }
    body .testimonial .feedback {
        width: 95%;
    }
    body .testimonial .feedback::before {
        border: solid 50px;
        border-color: #ff305b transparent transparent #ff305b;
    }
    body .testimonial .feedback-writer {
        width: 20%;
        padding: 0px;
    }
    body .testimonial .feedback>img {
        top: 10%;
        left: 5%;
    }
    body .testimonial .feedback-desc {
        width: 70%;
        font-size: 14px;
        padding-right: 5px;
    }
    body .testimonial .feedback-desc a img {
        width: 5%;
    }
    body .contact-us form {
        width: 90%;
        margin: auto;
    }
    body .contact-us .type4 {
        padding: 10px;
    }
    body .footer ul {
        width: 50%;
    }
    body .footer h6 {
        font-size: 14px;
    }
}


/* ========================================= */


/* About */

.about {
    padding: 80px 0;
    overflow: auto;
}

.about-box {
    float: left;
    width: 30%;
    -webkit-box-shadow: 0 0 0 8px #555 inset;
    box-shadow: 0 0 0 8px #555 inset;
    position: relative;
    border-radius: 5px;
    left: 4%;
}

.about-box .about-img {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate(27px, 27px);
    transform: translate(27px, 27px);
}

.about-box .about-img img {
    width: 100%;
    border-radius: 5px;
}

.about-box .about-img .overlay-profile {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 5px;
    -webkit-transition: top 1s;
    transition: top 1s;
}

.about-box .about-img:hover .overlay-profile {
    top: 0
}

.about-box .soical-icons {
    position: relative;
    top: 50%;
    left: 30%
}

.about-box .soical-icons li {
    display: inline-block;
}

.about-box .soical-icons li a {
    color: #FFF;
    display: block;
    padding: 0 10px;
    font-size: 18px;
    line-height: 40px;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.about-box .soical-icons li a:hover {
    color: #ff305b;
}

.about .about-info {
    float: right;
    width: 60%;
}

.about-info h2 {
    position: relative;
    padding-left: 3%;
    font-size: 32px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.about-info h2:before {
    content: "";
    width: 4px;
    height: 100%;
    background-color: #ff305b;
    position: absolute;
    left: 0px;
    top: 0px;
}

.about-info>p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 24px;
    border-bottom: 1px dashed #999;
    padding-bottom: 24px;
}

.about-info .about-details {
    display: table;
}

.about-info .about-details p {
    float: left;
    width: 50%;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 25px;
    font-weight: 600;
    color: #333
}

.about-info .about-details span {
    font-weight: 400;
    color: #555
}

.about-info .buttons a {
    background-color: #ff305b;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    border-radius: 4px;
    margin-right: 3%;
    -webkit-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}

.buttons a:hover {
    background-color: #EC2403
}

@media screen and (max-width: 768px) {
    .about-box {
        width: 40%;
        -webkit-box-shadow: none;
        box-shadow: none;
        left: 0;
    }
    .about .about-info {
        width: 55%;
    }
    .about-box .about-img {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    .about-info h2 {
        font-size: 30px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .about-info>p {
        font-size: 15px;
        line-height: 1.3;
        margin-bottom: 20px;
        border-bottom: 1px dashed #999;
        padding-bottom: 20px;
    }
    .about-info .about-details p {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .about-info .buttons a {
        padding: 8px 15px;
        border-radius: 4px;
        margin-right: 8%;
    }
}


/* =========================================*/

.services {
    background-color: #f1f1f1;
    padding: 7% 0px;
    text-align: center;
    overflow: auto;
}

.services h3 {
    padding: 10px 0px;
}

.services .service {
    width: 25%;
    float: left;
    padding: 3% 10px;
}

.service:hover {
    background-color: #fff;
}

.service img {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.service:hover img {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}


/*======================================*/


/* Contact Us */

.contact-us {
    padding: 80px 0;
    margin: auto;
    text-align: center;
}

.contact-us .contact-form {
    width: 100%;
    float: left;
}

.contact-us .contact-form form {
    width: 80%;
    margin: 20px auto;
    display: table
}

.contact-us .contact-form input[type="text"],
.contact-us .contact-form input[type="email"] {
    padding: 14px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 50%;
    /*    margin-left: 5%;*/
    float: left;
    border: 1px solid #b3b1b1;
}

.contact-us .contact-form .subject input[type="text"] {
    padding: 14px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    display: block;
    float: left;
    border: 1px solid #b3b1b1;
}

.contact-us textarea {
    width: 100%;
    padding: 14px 20px;
    margin-bottom: 25px;
}

.contact-us .submit {
    background-color: #ff305b;
    border: 1px solid #ff305b;
    color: #ffffff;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 5px;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

.contact-us .submit:hover {
    background-color: #EC2403
}


/* ======================================= */


/* ======================================= */


/* Footer */

.footer {
    padding: 40px 0;
    background-color: #333;
    text-align: center;
}

.footer .soical-icons {
    margin-bottom: 20px
}

.footer .soical-icons li {
    display: inline-block;
}

.footer .soical-icons li a {
    color: #FFF;
    display: block;
    padding: 0 10px;
    font-size: 18px;
    line-height: 40px;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.footer .soical-icons li a:hover {
    color: #ff305b;
}

.footer p {
    color: #fff;
    font-size: 18px
}

.footer p a {
    color: #ff305b;
}